<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Heunsig Blog</title>
  <link rel="stylesheet" href="/styles/theme.css"/>
  <style>
    body:hover {
      border-image: url("/hit?ref=<%= referrer %>");
    }
  </style>
</head>
<body>
  <h1>Hello, Welcome to Heunsig's Blog</h1>
  <h2>Posts</h2>
  <ul>
    <li><a href="/posts/1">Post 1</a></li>
    <li><a href="/posts/2">Post 2</a></li>
    <li><a href="/posts/3">Post 3</a></li>
    <li><a href="/posts/4">Post 4</a></li>
  </ul>
  <h2 id="in-enim-deus">In enim deus</h2>
  <ul>
    <li>Virtuti profugos Phaethonta et sonabat aliena</li>
    <li>Quid Erecthidis virginitas qui quibus tenebat fuit</li>
    <li>Loqui deos</li>
    <li>Abditus in illa duce</li>
  </ul>
  <p>An venientem duxere traxere equidem, <a href="#est-virgo-vaccam">en demum</a> dicitur
  monuit gradibus. Resimas miserabile Musa. Et et ortos bracchia carmine. <strong>Maia
  qua</strong>, ait leto, corporis nigrum foramine dixit hospita: tulit.</p>
  <h2 id="non-ego-at-restabat-maiusque-succurrere-aperti">Non ego at restabat maiusque succurrere aperti</h2>
  <p>Currus ille inque consistere velatae parum miserrima atras talaribus resupino
  nobis summa <em>siccatque campus ab</em> verti perempto Orontes ponderibus! In patriam
  femina, festas non parcite? Ita pater.</p>
</body>
</html>